In [2]:
#importando libs utilizadas no tutorial
import pandas as pd

#chamando o dataset
df = pd.read_csv('nba_draft_2015.csv')

#testando dataset
df.head()

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player,Bust
0,Karl-Anthony Towns,C,karl-anthony-towns,2015,1.030606,0.134767,0.427183,0.163083,0.274967
1,Justise Winslow,SF,justise-winslow,2015,0.875329,0.083529,0.510905,0.176767,0.228800
2,Stanley Johnson,SF,stanley-johnson,2015,0.679493,0.067800,0.423733,0.278500,0.229967
3,Jahlil Okafor,C,jahlil-okafor,2015,0.521661,0.058717,0.409900,0.235533,0.295850
4,D`Angelo Russell,PG,d-angelo-russell,2015,0.511967,0.152033,0.342283,0.096583,0.409100

In [3]:
#loc com índice
df.loc[[5]]

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player,Bust
5,Dakari Johnson,C,dakari-johnson,2015,0.491787,0.021341,0.367544,0.417572,0.193544

In [4]:
#loc com array
df.loc[[0,1,2]]

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player,Bust
0,Karl-Anthony Towns,C,karl-anthony-towns,2015,1.030606,0.134767,0.427183,0.163083,0.274967
1,Justise Winslow,SF,justise-winslow,2015,0.875329,0.083529,0.510905,0.176767,0.228800
2,Stanley Johnson,SF,stanley-johnson,2015,0.679493,0.067800,0.423733,0.278500,0.229967

In [9]:
df.loc[4:8]

,Player,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player,Bust
4,D`Angelo Russell,PG,d-angelo-russell,2015,0.511967,0.152033,0.342283,0.096583,0.409100
5,Dakari Johnson,C,dakari-johnson,2015,0.491787,0.021341,0.367544,0.417572,0.193544
6,Devin Booker,SG,3-devin-booker,2015,0.472577,0.073367,0.324467,0.390167,0.212000
7,Willie Cauley-Stein,C,willie-cauley-stein,2015,0.351171,0.047114,0.405990,0.243186,0.303710
8,Rondae Hollis-Jefferson,SF,rondae-hollis-jefferson,2015,0.311909,0.014590,0.368533,0.392481,0.224396

In [7]:
#setando um index para podermos trabalhar com o nome das linhas
df2 = df.set_index('Player')

#testando a alteração
df2.head()

,Position,ID,Draft Year,Projected SPM,Superstar,Starter,Role Player,Bust
Player,,,,,,,,
Karl-Anthony Towns,C,karl-anthony-towns,2015,1.030606,0.134767,0.427183,0.163083,0.274967
Justise Winslow,SF,justise-winslow,2015,0.875329,0.083529,0.510905,0.176767,0.228800
Stanley Johnson,SF,stanley-johnson,2015,0.679493,0.067800,0.423733,0.278500,0.229967
Jahlil Okafor,C,jahlil-okafor,2015,0.521661,0.058717,0.409900,0.235533,0.295850
D`Angelo Russell,PG,d-angelo-russell,2015,0.511967,0.152033,0.342283,0.096583,0.409100

In [8]:
#agora podemos chamar pelo índice com nome, por exemplo:
df2.loc['Justise Winslow']

Position                      SF
ID               justise-winslow
Draft Year                  2015
Projected SPM           0.875329
Superstar              0.0835286
Starter                 0.510905
Role Player             0.176767
Bust                      0.2288
Name: Justise Winslow, dtype: object

In [ ]:
#selecionar apenas as colunas que queremos também é possivel
df2.loc[[8395271, 12130889, 4623614], ['room_type', 'price', 'last_modified']]